{{#section "head"}}
    <link rel='stylesheet' href='{{@static_url}}/styles/info.css'/>
{{/section}}

{{#section "foot"}}
    <script src="{{@static_url}}/scripts/find.js"></script>
{{/section}}

<div class="new-page-message">尚未开放，敬请期待！</div>