{{#section "foot"}}
    <script src="{{@static_url}}/scripts/index.js"></script>
{{/section}}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="photo">
</div>
<div compile="testHtml"></div>
