<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
</head>
<div>分享测试</div>
<body>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    // wx.config({
    //     debug: false,
    //     appId: 'wx90ea8be0c05b9630',
    //     timestamp: '2017-07-10 17:40:00',
    //     nonceStr: 'wx90ea8be0c05b963000000',
    //     signature: data.data.signature,
    //     jsApiList: ['checkJsApi', 'onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'getNetworkType', 'hideOptionMenu', 'showOptionMenu', 'closeWindow', 'hideMenuItems', 'showMenuItems', 'hideAllNonBaseMenuItem', 'showAllNonBaseMenuItem', 'scanQRCode', 'chooseWXPay']
    // });
    //    wx.ready(function() {
    //        // 微信分享事件
    //        var params = {
    //            title: '测试', // 分享标题
    //            desc: 'test',
    //            link: 'https://staging-social.lemonade-game.com/users/info?uid=151468&server=23000&source=26',
    //            imgUrl: '', // 分享图标
    //            success: function() {},
    //            cancel: function() {}
    //        };
    //        wx.onMenuShareTimeline(params);
    //        wx.onMenuShareAppMessage(params);
    //    });
</script>
</body>

</html>
